# Entornos virtuales
.venv/
venv/
ENV/

# Archivos grandes / resultados
results/figures/*
__pycache__/
*.pyc
*.pyo
*.pyd
*.DS_Store
*.pdf
*.png
*.jpg

# Notebooks temporales
.ipynb_checkpoints/
*.ipynb_checkpoints/

# Editor
.vscode/